<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta chaarset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Creative Filmakers at the service of the top talented artists ready to leverage their audience with the highest film quality 🚀">
    <meta name="keywords" content="flusha flushacorp kevin kevinyern">
    <meta name="author" content="FLUSHACORP">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="FLUSHACORP SL" />
    <meta name="publisher" content="FLUSHACORP" />
    <meta name="copyright" content="&copy; Copyright (c) FLUSHACORP SL" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="content-language" content="en">
    <meta name="language" content="en">
    <meta name="page-topic" content="FILMING, ENTERTAINMENT" />
    <meta content="National" name="distribution" />
    <meta content="flushacorp.com" name="target" />

    <!-- Facebook Open Graph Information -->
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/778551528810086410/784754661097340968/image7.jpg" />
    <meta property="og:title" content="FLUSHACORP" />
    <meta property="og:description" content="Creative Filmakers at the service of the top talented artists ready to leverage their audience with the highest film quality 🚀" />
    <meta property="og:url" content="https://flushacorp.com" />
    <meta property="og:site_name" content="FLUSHACORP" />
    <meta property="og:locale" content="en_US" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@flushacorp" />
    <meta name="twitter:creator" content="@flushacorp" />
    <meta name="twitter:title" content="FLUSHACORP - Become a Filmaker" />
    <meta name="twitter:description" content="Creative Filmakers at the service of the top talented artists ready to leverage their audience with the highest film quality 🚀" />
    <meta name="twitter:image" content="https://cdn.discordapp.com/attachments/778551528810086410/784754661097340968/image7.jpg" />
    <link rel="icon" href="/assets/img/favicon.ico" type="image/png">
    
    <!-- Libs CSS -->
    <link rel="stylesheet" href="/assets/fonts/Feather/feather.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.min.css" integrity="sha512-ztsAq/T5Mif7onFaDEa5wsi2yyDn5ygdVwSSQ4iok5BPJQGYz1CoXWZSA7OgwGWrxrSrbF0K85PD5uLpimu4eQ==" crossorigin="anonymous" />    <link rel="stylesheet" href="/assets/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.12.5/jarallax.min.css" integrity="sha512-sW3BdxIckJ/LfweqZvi0FZq/BkDUAjSIgs4HBvxmN11fi29SLsHembMo+OXxhLxcZffUUTC1vrkuFFVlwvu15g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg==" crossorigin="anonymous" />

    <!-- Map -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/theme.min.css">

    <title>FLUSHACORP</title>
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  </head>
  <body class="bg-light">
    @include('layouts.navbar')
    
    @!section('content')
    
    @include('layouts.footer')

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha512-iceXjjbmB2rwoX93Ka6HAHP+B76IY1z0o3h+N1PeDtRSsyeetU3/0QKJqGyPJcX63zysNehggFwMC/bi7dvMig==" crossorigin="anonymous"></script>    <script src="/assets/libs/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="/assets/libs/flickity-fade/flickity-fade.js"></script>
    <script src="/assets/libs/aos/dist/aos.js"></script>
    <script src="/assets/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.12.5/jarallax-video.min.js" integrity="sha512-lI/p03BLuV8qpkrf/tGCwqJSLwRmPTPvsOEv8LVs2gaSS17/fNiaCxowRK2zooDdf5r7C04rRmnPAMnbXWcVPA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.12.5/jarallax.min.js" integrity="sha512-DI98Iva+99hqdsd+etSf/W9iJcmz5jornxiWr5nkr/kcKWlaCDwIsWW6AGxXu/X5u/yylsLYJowdPzIcLUDklw==" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.12.5/jarallax-element.min.js" integrity="sha512-8WJuBzsHwo/lGw/y07lYADMvK1A/cl3QyCynhbJj5Gkfm1N8Ctq5RNBWunD+ill975in0JCi/i9CNQzyN16yfg==" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous"></script>
    <script src="/assets/libs/countup.js/dist/countUp.min.js"></script>
    <script src="/assets/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="/assets/libs/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="/assets/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>

    <!-- Map -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Theme JS -->
    <script src="/assets/js/theme.min.js"></script>

    <script type="text/javascript">
      /** This section is only needed once per page if manually copying **/
      if (typeof MauticSDKLoaded == 'undefined') {
          var MauticSDKLoaded = true;
          var head            = document.getElementsByTagName('head')[0];
          var script          = document.createElement('script');
          script.type         = 'text/javascript';
          script.src          = 'https://emails.flushacorp.com/media/js/mautic-form.js';
          script.onload       = function() {
              MauticSDK.onLoad();
          };
          head.appendChild(script);
          var MauticDomain = 'http://emails.flushacorp.com';
          var MauticLang   = {
              'submittingMessage': "Por favor espere..."
          }
      }else if (typeof MauticSDK != 'undefined') {
          MauticSDK.onLoad();
      }
  </script>
  <script>
    $(document).ready(function () {
        $("#kevin").click(function () {
            $('html, body').animate({
                scrollTop: $("#kevin-section").offset().top
            }, 1500);
        });
        $("#flusha").click(function () {
            $('html, body').animate({
                scrollTop: $("#flusha-section").offset().top
            }, 1500);
        });
        $("#subscribe").click(function () {
            $('html, body').animate({
                scrollTop: $("#subscribe-section").offset().top
            }, 1500);
        });
    });
  </script>
  </body>
</html>
